<div
  class="toast-container position-fixed top-0 end-0 p-3"
  style="z-index: 11;"
  *ngIf="show"
>
  <div
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    [ngClass]="{ 'show': show }"
  >
    <div class="toast-body d-flex flex-row justify-content-between" [ngClass]="background">
      <strong>{{title}}</strong>
      <span> {{ message }} </span>
      <button
        type="button"
        class="btn-close"
        (click)="closeToast()"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
